body{
	margin: 0;
	background: #333;
	
}

#title{
	position: absolute;
	width: 40%;
	height: 10%;
	top: 0;
	left: 30%;
	/* background: #666666; */
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tim{
	position: absolute;
	/* width: 30%; */
	height: 10%;
	top: 5%;
	right: 2%;
	color: #ffffff;
	font-size: 20px;
	/* background: green; */
}

#l1{
	position: absolute;
	width: 30%;
	height: 45%;
	top: 10%;
	left: 0;
	background: #222222;
}

#l2{
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	left: 0;
	background: #333333;
}

#c1{
	position: absolute;
	width: 40%;
	height: 25%;
	top: 10%;
	left: 30%;
	color: white;
	/* background: #777777; */
}
.num{
	width: 25%;
	float: left;
	display: flex;
	align-items: center;
	align-content: center;
	color: gold;
	font-size: 20px;
}
.txt{
	width: 25%;
	float: left;
	font-family: "幼圆";
	display: flex;
	align-items: center;
	align-content: center;
}
.txt h2{
	
}

#c2{
	position: absolute;
	width: 40%;
	height: 65%;
	top: 35%;
	left: 30%;
	background: #888888;
}

#r1{
	position: absolute;
	width: 30%;
	height: 45%;
	top: 10%;
	left: 70%;
	background: #444444;
}

#r2{
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	left: 70%;
	background: #555555;
}